*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}


p.a {
    font-family: 'Coda Caption';font-size: 54px;
}



body {
	opacity: 1;
	background-image: url(../img/greyback.png);
	background-position: center center;
	background-size: 100% 100%;
	}

#grad1 {
	height: 200px;
	background-image: linear-gradient(to bottom right,rgb(9, 35, 39), rgb(78, 128, 152));
	padding-top: 15px;
	padding-bottom: 15px;
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: 'Bevan';font-size: 22px;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 20px;
}



header{
	background-color: red;
	color: white; /* more readable on an orange background */
	padding-top: 50px;
	padding-bottom: 50px;
}

nav{
	width: 100%;
	height: 60px;
	background-image: linear-gradient(to bottom right,rgb(9, 35, 39), rgb(78, 128, 152));
}

nav a, nav h3{
	color: rgb(144, 194, 231);
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 7em;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover{
	color: white; /* Hover styles to let people know they can click it */
}



/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}

